.clear {
    clear: both;
}

div.sender {
    width: 100%;
    background-color: #00162b;
    padding: 5px;
    border-bottom: 2px;
}

    div.sender .config {
        height: 100%;
        float: left;
        margin-right: 5px;
    }

        div.sender .config textarea {
            height: 100px;
        }

    div.sender .data {
        height: 100%;
        float: left;
        margin-right: 5px;
    }

        div.sender .data textarea {
            height: 100px;
            width: 800px;
        }

    div.sender .actions {        
        float: left;
        margin-right: 5px;
    }

        div.sender .actions button {
            height: 100px;
            width: 140px;
        }